
@{
    ViewData["Title"] = "Contacto";
}


<div class=" text-center ContenedorBienvenida">
    <div class=" text-center mb-2">
        <h1 class="tituloBienvenida text-center">Contactame<span class="puntoMenuBienvenida">.</span></h1>

    </div>
    <div class=" mt-3 d-flex justify-content-center text-center">
        <p class="parrafoBienvenida  w-75 text-center">
            Como estudiante de tecnología en desarrollo de software en el quinto semestre, mi objetivo 
            es aplicar mis conocimientos y habilidades como programador de desarrollo web en un entorno 
            laboral. Estoy entusiasmado por la oportunidad de contribuir a proyectos web, aprender de 
            profesionales experimentados y seguir creciendo en mi carrera. Mi enfoque principal es 
            adquirir experiencia práctica y desarrollar mis habilidades en programación web, 
            especialmente en lenguajes como HTML, CSS, JavaScript. A través de proyectos académicos, 
            he adquirido habilidades en desarrollo de software, resolución de problemas y trabajo en 
            equipo, y continuamente me mantengo actualizado con las nuevas tecnologías y tendencias en 
            el campo del desarrollo web.
        </p>
    </div>

    <div class="mt-4 justify-content-center text-center">
        <div class="row mt-1">
            <div class="col-5 text-end">
                <i class="bi bi-telephone circuloIcono"></i>
            </div>
            <div class="col-7 text-start parrafoBienvenida text-start">
                <p>Llamame</p>
                <p class="parrafoSubir">301 339 6505</p>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-5 text-end ">
                <i class="bi bi-envelope circuloIcono"></i>
            </div>
            <div class="col-7 parrafoBienvenida text-start">
                <p>E-Mail</p>
                <p class="parrafoSubir">Midapegue@gmail.com</p>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-5 text-end ">
                <i class="bi bi-linkedin circuloIcono"></i>
            </div>
            <div class="col-7 parrafoBienvenida text-start">
                <p >Linkedin</p>
                <a class="enlaceParrafo" href="https://www.linkedin.com/in/miguel-dario-perez-guerra-7500b6264/">MIGUEL PEREZ GUERRA</a>
            </div>
        </div>
    </div>

</div>

