@model Biblioteca_MVC.Models.Genero

@{
    ViewData["Title"] = "Edit";
}

<div class="ContenedorFormulario">

    <h1 class="titulos titulosAgregar">Editar <b class="colorTitulo">Genero</b></h1>
    <hr />
    <div class="row FormularioGeneral">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="formBotones d-flex justify-content-center ">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>

                    <div>
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
